@import "tailwindcss";
@config "../../tailwind.config.js";

@layer theme {
  :root {
    /* Fuentes */
    --font-sans: 'Space Grotesk', sans-serif;
    --font-mono: 'Space Mono', monospace;
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
  
  code, pre, .code-block {
    font-family: var(--font-mono);
  }
}